<div class="row">
  <div class="col-xs-12">
    <form id="new-todo" name="todo">
      <div class="row">
        <div class="col-xs-4">
          <label for="title">title: </label>
        </div>
        <div class="col-xs-8">
          <input type="text" name="title" id="title"  class="form-control" value="<%= title %>">
        </div>
      </div>

      <div class="row">
        <div class="col-xs-4">
          <label for="note">note: </label>
        </div>
        <div class="col-xs-8">
          <input type="text" name="note" id="note" class="form-control" value="<%= note %>">
        </div>
      </div>

      <div class="row">
        <div class="col-xs-4">
          <label for="due_date">due date: </label>
        </div>
        <div class="col-xs-8">
          <input type="datetime-local" name="due_date" id="due_date" class="form-control" value="<%= due_date %>">
        </div>
      </div>

      <div class="actions">
        <div class="row">
          <div class="col-xs-4">
            <a href="#index" class="btn btn-primary">Back</a>
          </div>
          <div class="col-xs-6">
            <input type="submit" value="Update Todo Item" class="form-control btn-success"/>
          </div>
        </div>
      </div>

    </form>
  </div>
</div>
