<h1>New Todo Item</h1>

<form id="new-todo" name="todo">
  <div class="field">
    <label for="title">title: </label>
    <input type="text" name="title" id="title" >
  </div>

  <div class="field">
    <label for="note">note: </label>
    <input type="text" name="note" id="note">
  </div>

  <div class="field">
    <label for="due_date">due date: </label>
    <input type="datetime-local" name="due_date" id="due_date">
  </div>

  <div class="actions">
    <input type="submit" value="Create Todo Item" />
  </div>

</form>

<a href="#index">Back</a>
