<div id="todo_items"></div>
<script type="text/javascript">
  $(function() {
    // TodoApp is the app name
    window.router = new TodoApp.Routers.TodoItemsRouter({todo_items: <%= @todos.to_json.html_safe -%>});
    Backbone.history.start();
  });
</script>
